<!DOCTYPE html>
<!--
  Team threeCoffeePeanuts: Jesse Xie, Yaying Liang Li, Ryan Wang
  SoftDev
  K14 -- Form and Function
  2021-10-14
  Simple demo of HTML forms via Flask
 -->


<html>

  <head>
    <title> Greetings </title>
  </head>

  <body>
    <h1>
      Care for a coffee peanut?
    </h1>

    <!---
      the values of the variables here (username, method) were inputted in app.py
    --->

    <h3> The entered username was {{ username }} </h3>
    <h3> The request method used was {{ method }} </h3>


    <!---
      pre refers to preformatted text
    --->
    <pre>

               ,+.     ,+.     ,+.
              ((|))   ((|))   ((|))
               )|(     )|(     )|(
              ((|))   ((|))   ((|))
               `-'     `-'     `-'
                (  )   (   )  )
                 ) (   )  (  (
                 ( )  (    ) )
                 _____________
                <_____________> ___
                |             |/ _ \
                |               | | |
                |               |_| |
             ___|             |\___/
             /    \___________/    \
             \_____________________/

    </pre>

    <br>
  </body>

</html>
