$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

header#page-header {
    height: 500px;
    background: #cecece;
}

header#page-header > div.row {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
